html {
    background: #f7f7f7;
    color: #333;
    font: 16px/1.4 Helvetica, Arial, sans-serif;
}

body {
    max-width: 450px;
    padding: 20px 40px;
    margin: 0 auto;
    font-family: 'Whitney A', 'Whitney B';
    font-weight: 400;
    font-style: normal;
}

a {
    color: #069;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

h1,
h2 {
    line-height: 1.2;
    font-family: 'Whitney A', 'Whitney B';
    font-weight: 700;
    font-style: normal;
}

p {
    margin: 1em 0;
}

